<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>Users Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:href="@{/users/edit/{email}(id=${user.email})}">Edit</a></td>
                    <td><a th:href="@{/users/delete/{email}(id=${user.email})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/users/signup">Add a new user</a></p>
    </div>
</div>
</body>
</html>